unauthorized-datasets/pbigovernance-unauthorizeddatasets.json
{"template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"array","items":{"type":"object","properties":{"clientId":{"type":"string"},"contentCreated":{"type":"string"},"contentExpiration":{"type":"string"},"contentId":{"type":"string"},"contentType":{"type":"string"},"contentUri":{"type":"string"},"tenantId":{"type":"string"}},"required":["clientId","contentCreated","contentExpiration","contentId","contentType","contentUri","tenantId"]}}}}},"actions":{"HTTP_-_Get_Token":{"runAfter":{"Set_Variables":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/@{outputs('Tenant_Id')}/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Client_Id')}&client_Secret=@{outputs('Client_Key')}&resource=https://manage.office.com&grant_type=client_credentials"}},"Parse_Token_Response":{"runAfter":{"HTTP_-_Get_Token":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Get_Token')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"string"},"ext_expires_in":{"type":"string"},"expires_on":{"type":"string"},"not_before":{"type":"string"},"resource":{"type":"string"},"access_token":{"type":"string"}}}}},"HTTP_-_Get_Log_Event":{"runAfter":{"Parse_Token_Response":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{triggerBody()[0]?['contentUri']}","headers":{"Authorization":"Bearer @{body('Parse_Token_Response')?['access_token']}"}}},"Parse_Log_Event":{"runAfter":{"HTTP_-_Get_Log_Event":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Get_Log_Event')","schema":{"type":"array","items":{"type":"object","properties":{"CreationTime":{"type":"string"},"Id":{"type":"string"},"Operation":{"type":"string"},"OrganizationId":{"type":"string"},"RecordType":{"type":"integer"},"ResultStatus":{"type":"string"},"UserKey":{"type":"string"},"UserType":{"type":"integer"},"Version":{"type":"integer"},"Workload":{"type":"string"},"ObjectId":{"type":"string"},"UserId":{"type":"string"},"DatasetId":{"type":"string"},"DatasetName":{"type":"string"},"ReportId":{"type":"string"},"ReportName":{"type":"string"},"WorkspaceId":{"type":"string"}}}}}},"Apply_to_each":{"foreach":"@body('Parse_Log_Event')","actions":{"Condition_-_if_CreateDataset_Event":{"actions":{"HTTP_-_Get_Graph_API_Token":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/@{outputs('Tenant_Id')}/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Client_Id')}&client_Secret=@{outputs('Client_Key')}&resource=https://graph.microsoft.com&grant_type=client_credentials"}},"HTTP_-_Get_Group_from_Graph_API":{"runAfter":{"Parse_Graph_API_Token_Response":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each')?['WorkspaceId']}","headers":{"Authorization":"Bearer @{body('Parse_Graph_API_Token_Response')?['access_token']}"}}},"Parse_Graph_API_Token_Response":{"runAfter":{"HTTP_-_Get_Graph_API_Token":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Get_Graph_API_Token')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"string"},"ext_expires_in":{"type":"string"},"expires_on":{"type":"string"},"not_before":{"type":"string"},"resource":{"type":"string"},"access_token":{"type":"string"}}}}},"Condition_-_Check_Graph_response_and_if_200,_V1_workspace":{"actions":{"WorkspaceV1":{"runAfter":{},"type":"Compose","inputs":"True"},"email_-_unauthorized_dataset_notification_to_user":{"runAfter":{"Condition_-_Is_admin_already_member_of_group":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{items('Apply_to_each')['UserId']};","Subject":"Unauthorized Power BI Dataset Creation Event - pending approval","Body":"The below report/dataset was created in a Teams/O365 Groups workspace and is unauthorized for Power BI. It has been sent to your Power BI administrator for review. If rejected, you will receive a notice and it will be deleted. \nworkspace id: @{items('Apply_to_each')['WorkspaceId']}, \nworkspace name: @{body('Parse_Get_Group_from_Graph_API_Response')?['displayName']}\nreport name: @{items('Apply_to_each')?['ReportName']}\ndataset id: @{items('Apply_to_each')['DatasetId']} \ndataset name: @{items('Apply_to_each')['DatasetName']}, creation time: @{items('Apply_to_each')['CreationTime']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"email_-_unauthorized_dataset_notification_to_user":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribeV2"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"Dataset Approval","assignedTo":"@{outputs('Power_BI_Admin_Email_(for_Flow_approvals)')};","details":"user id: @{items('Apply_to_each')['UserId']}\nworkspace V1: @{outputs('WorkspaceV1')}\nworkspace id: @{items('Apply_to_each')['WorkspaceId']}\nworkspace name: @{body('Parse_Get_Group_from_Graph_API_Response')?['displayName']}\nreport name: @{items('Apply_to_each')?['ReportName']}\ndataset id: @{items('Apply_to_each')['DatasetId']} \ndataset name: @{items('Apply_to_each')['DatasetName']}\ncreation time: @{items('Apply_to_each')['CreationTime']}\n","itemLink":"https://app.powerbi.com/groups/@{items('Apply_to_each')?['WorkspaceId']}/reports/@{items('Apply_to_each')?['ReportId']}/ReportSection","requestor":"@{items('Apply_to_each')['UserId']};","enableNotifications":true},"path":"/types/@{encodeURIComponent('Basic')}/$subscriptions","authentication":"@parameters('$authentication')"}},"If_Dataset_Approved":{"actions":{"dataset_approval_notice":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{items('Apply_to_each')['UserId']};","Subject":"your dataset has been approved","Body":"dataset @{items('Apply_to_each')['DatasetName']} has been approved"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"HTTP_-_Get_Power_BI_Token":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/common/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Client_Id')}&client_Secret=@{outputs('Client_Key')}&username=@{outputs('Power_BI_Admin_email-username_(for_Power_BI_API)')}&password=@{outputs('Power_BI_Admin_password_(for_Power_BI_API)')}&resource=https://analysis.windows.net/powerbi/api&grant_type=password"}},"Parse_Power_BI_Token_Response":{"runAfter":{"HTTP_-_Get_Power_BI_Token":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Get_Power_BI_Token')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"string"},"ext_expires_in":{"type":"string"},"expires_on":{"type":"string"},"not_before":{"type":"string"},"resource":{"type":"string"},"access_token":{"type":"string"}}}}},"HTTP_-_Delete_Dataset":{"runAfter":{"Parse_Power_BI_Token_Response":["Succeeded"]},"type":"Http","inputs":{"method":"DELETE","uri":"https://api.powerbi.com/v1.0/myorg/groups/@{items('Apply_to_each')?['WorkspaceId']}/datasets/@{items('Apply_to_each')?['DatasetId']}","headers":{"Authorization":"Bearer @{body('Parse_Power_BI_Token_Response')?['access_token']}"}}},"email_-_dataset_rejection_notice":{"runAfter":{"HTTP_-_Delete_Dataset":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{items('Apply_to_each')?['UserId']};","Subject":"your dataset has been rejected and deleted","Body":"dataset @{items('Apply_to_each')['DatasetName']} has been deleted. This may have left an orphaned dashboard in your workspace but the report should have been deleted as well. "},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Start_and_wait_for_an_approval')?['response']","Approve"]},"type":"If"},"Condition_-_Remove_Power_BI_Admin_from_Group":{"actions":{},"runAfter":{"If_Dataset_Approved":["Succeeded"]},"else":{"actions":{"HTTP_-_Remove_Power_BI_admin_from_Group":{"runAfter":{},"type":"Http","inputs":{"method":"DELETE","uri":"https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each')?['WorkspaceId']}/owners/@{outputs('Power_BI_Admin_Id_(for_Graph_API)')}/$ref","headers":{"Authorization":"Bearer @{body('Parse_Graph_API_Token_Response')?['access_token']}"}}}}},"expression":{"equals":["@outputs('Already_Member_of_Group')","True"]},"type":"If"},"Condition_-_Is_admin_already_member_of_group":{"actions":{},"runAfter":{"HTTP_-_add_Power_BI_Admin_to_Group":["Failed","Succeeded"]},"else":{"actions":{"Condition":{"actions":{"Already_Member_of_Group":{"runAfter":{},"type":"Compose","inputs":"True"}},"runAfter":{},"else":{"actions":{"Send_an_email_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{outputs('Power_BI_Admin_Email_(for_Flow_approvals)')}","Subject":"error caught in flow","Body":"check for flow failures. "},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('HTTP_-_add_Power_BI_Admin_to_Group')['statusCode']",400]},"type":"If"}}},"expression":{"equals":["@outputs('HTTP_-_add_Power_BI_Admin_to_Group')['statusCode']",204]},"type":"If"},"HTTP_-_add_Power_BI_Admin_to_Group":{"runAfter":{"Parse_Get_Group_from_Graph_API_Response":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://graph.microsoft.com/v1.0/groups/@{body('Parse_Get_Group_from_Graph_API_Response')?['id']}/owners/$ref","headers":{"Authorization":"Bearer @{body('Parse_Graph_API_Token_Response')?['access_token']}"},"body":{"@@odata.id":"https://graph.microsoft.com/v1.0/directoryObjects/@{outputs('Power_BI_Admin_Id_(for_Graph_API)')}"}}},"Parse_Get_Group_from_Graph_API_Response":{"runAfter":{"WorkspaceV1":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Get_Group_from_Graph_API')","schema":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"}}}}}},"runAfter":{"HTTP_-_Get_Group_from_Graph_API":["Succeeded","Failed"]},"else":{"actions":{"WorkspaceV2":{"runAfter":{},"type":"Compose","inputs":"True"}}},"expression":{"equals":["@outputs('HTTP_-_Get_Group_from_Graph_API')['statusCode']",200]},"type":"If"}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')['Operation']","CreateDataset"]},"type":"If"}},"runAfter":{"Parse_Log_Event":["Succeeded"]},"type":"Foreach"},"Set_Variables":{"actions":{"Client_Key":{"runAfter":{},"trackedProperties":{"client_id":"8b9aca1a-575e-427d-8caa-736963851e19","client_key":":Jxrye:qcH+FRVD@2y8DkzkD30cOFV39","tenant":"d6820790-2f79-4257-9645-887464e776fa"},"type":"Compose","inputs":"<html encoded app secret>"},"Client_Id":{"runAfter":{"Client_Key":["Succeeded"]},"type":"Compose","inputs":"<client (app) id>"},"Tenant_Id":{"runAfter":{"Client_Id":["Succeeded"]},"type":"Compose","inputs":"<tenant id>"},"Power_BI_Admin_Id_(for_Graph_API)":{"runAfter":{"Tenant_Id":["Succeeded"]},"type":"Compose","inputs":"<object id for the power bi admin service account>"},"Power_BI_Admin_email-username_(for_Power_BI_API)":{"runAfter":{"Power_BI_Admin_Id_(for_Graph_API)":["Succeeded"]},"type":"Compose","inputs":"<email address for the Power bi admin service account>"},"Power_BI_Admin_password_(for_Power_BI_API)":{"runAfter":{"Power_BI_Admin_email-username_(for_Power_BI_API)":["Succeeded"]},"type":"Compose","inputs":"<password for the power bi admin service account... could use key vault here instead>"},"Power_BI_Admin_Email_(for_Flow_approvals)":{"runAfter":{"Power_BI_Admin_password_(for_Power_BI_API)":["Succeeded"]},"type":"Compose","inputs":"<email address for the human account that will monitor for approval emails>"}},"runAfter":{},"type":"Scope"}}},"parameters":{"$connections":{"value":{"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('office365_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('approvals_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}}]}}